/venv
/.venv
.vscode
__pycache__
.pytest_cache

*.blend1

*.received.txt

!pen.obj
marker_calibration_pics/
params/calibrated_marker_positions.json

recordings/*/frames
recordings/*/*.pdf
recordings/*/*.pkl
!recordings/*/camera_extrinsics.pkl

analysis/tip_measurements/**/*.pdf
analysis/*.png
analysis/latency-histogram.pdf